.info {
    display: flex;
    width: 100%;
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    background: $light-brown;
    box-sizing: border-box;


    @include small {
        margin: -20px 0 30px;
    }

    &__ttl {
        display: flex;
        align-items: center;
        padding: 12px 24px;
        border-radius: 4px 0 0 4px;
        background-color: $brown;

        @include small {
            padding: 8px 16px;
        }
    }

    &__contents {
        padding: 12px 24px;

        @include small {
            padding: 8px 12px;
        }
    }

    &__date {
        margin-right: 12px;
        color: $gray;

        @include small {
            display: none;
        }
    }
}